.jumbotron {
text-align: center;
background: none;
}
.section-Light {
    background-color: #eceeef;
    padding: 2em;
}
.sectionDark {
    background-color: #cccccc;
    padding: 2em;
}
.coolStuffWrapper {
    margin-top: 20px;
}
.coolStuffBtn {
    background-color: red;
    color: #ffffff;
    display: block;
    margin: auto;
}
h5.modal-title {
    margin: auto;
}
.modalFormWrapper {
    padding: 2rem;
}